language: ruby
cache:
- bundler
install:
- bundle install
rvm:
- 2.3.0
- 2.4.1
notifications:
  email:
    recipients:
    - sensu-plugin@sensu-plugins.io
    on_success: change
    on_failure: always
script:
- bundle exec rake default
- gem build sensu-plugins-java.gemspec
- gem install sensu-plugins-java-*.gem
deploy:
  provider: rubygems
  api_key:
    secure: Djc07xLsZfBhtInTw1aU2cUY5nVn+auYXBajjIcoaxhZDaSbA4d+8bMOL6N70oDeuy77cA1NvxjdRME8QN+8GfWi3Nww8bwttPdrCkPICCQixUmqs/40cbmwyrQ2Q+l5zn69f7jpzcIm3OGezqwWrXmvCq3U5HWasFO1ujbg+LE=
  gem: sensu-plugins-java
  on:
    tags: true
    all_branches: true
    rvm: 2.4.1
    repo: sensu-plugins/sensu-plugins-java
